<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">{{title}}</h2>

  <form class="login-container" action="/exec" method="post">
    <p><input type="password" name="passphrase" placeholder="Passphrase"></p>
    <p><input type="submit" value="Mount"></p>
  </form>
</div>
