<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Success!</h2>

  <form class="login-container" action="/exec" method="post">
    <p><pre>{{output}}<p>
  </form>
</div>
